<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{author.name}}的主页</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../static/style/authordetails.css"
    />
  </head>

  <body>
    {% load static %}
    <div class="header">
      <h1 class="title">CiliCili</h1>
    </div>
    <div class="topnav">
      <a href="../">返回</a>
    </div>

    <div>
      <div class="authorinfo">
        <img
          src="{% static author.photo %}"
          class="videoimage"
          width="100px"
          height="100px"
        />
        <span class="authorname">{{author.name}}</span>
        <p>关注：{{author.followers}}</p>
        <p>简介：{{author.describe}}</p>
      </div>
      {% for video in author.videoinfo_set.all%}
      <div class="videobox">
        <a
          href="{% url 'videopage:details' video.id %}"
          style="text-decoration: none"
        >
          <img
            src="{% static video.cover %}"
            alt="{{author.name}}"
            width="270px"
            height="180px"
            style="vertical-align: top"
          />

          <span class="info">
            <div class="ti">{{video.video_name}}</div>
            <span>点赞数{{video.likes}}</span>
            <span>投币数{{video.coins}}</span>
            <span>收藏数{{video.collects}}</span>
          </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
