<!DOCTYPE html>
<html lang="en">
  <head>
    <title>cilicili</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/style/basicstyle.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="header">
      <h1 class="title">CiliCili</h1>
    </div>

    <div class="topnav">
      <a href="../home/">视频</a>
      <a href="#" class="select">作者</a>
      <a href="../search/">搜索</a>
    </div>

    {% load static %} {% if page_obj %}
    <main>
      <div class="authorlist">
        <ul class="row" style="list-style-type: none">
          {% for author in page_obj %}
          <li class="author">
            <a
              href="{% url 'videopage:adetails' author.id %}"
              class="authorlink"
              target="_blank"
            >
              <img
                class="authorimage"
                src="{% static author.photo %}"
                alt="{{author.name}}"
                style="vertical-align: top"
              />
              <!-- <span class="authorname"> -->
              {{author.name}}
              <!-- </span> -->
            </a>
          </li>
          {% endfor %}
          <!-- 自适应高度 -->
          <div style="clear: both"></div>
        </ul>
      </div>
    </main>
    {% endif %} {% if is_paginated %}
    <div class="box">
      <div class="pagination">
        <span style="font-size: small; float: left; padding: 7px"
          >共{{paginator.count}}条数据</span
        >
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">«</a>
        {% else %}
        <span></span>
        {% endif %} {% for i in page_range %} {% if page_obj.number == i %}
        <a class="active">{{i}}</a>
        {% elif i == '…' %}
        <a>{{i}}</a>
        {% else %}
        <a href="?page={{i}}">{{i}}</a>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">»</a>
        {% else %}
        <span></span>
        {% endif %}
        <div class="pagination">
          <form style="padding: 5px">
            跳至<input class="jump" type="text" name="page" size="1" />页
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>
