<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{author.name}}的主页</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../static/style/basicstyle.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../static/style/authordetails.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% load static %}
    <div class="header">
      <h1 class="title">CiliCili</h1>
    </div>
    <div class="topnav"></div>

    <div>
      <div class="authorinfo">
        <img
          src="{% static author.photo %}"
          class="detail-image"
          width="100px"
          height="100px"
        />
        <span class="authorname">{{author.name}}</span>
        <p>关注：{{author.followers}}</p>
        <p>简介：{{author.describe}}</p>
      </div>
      {% for video in author.videoinfo_set.all%}
      <div class="videobox">
        <a
          href="{% url 'videopage:avideo' author.id video.id %}"
          class="videolink"
        >
          <img
            src="{% static video.cover %}"
            alt="{{author.name}}"
            width="270px"
            height="180px"
            style="vertical-align: top"
          />

          <span class="info">
            <div class="ti">{{video.video_name}}</div>
            <div class="de">
              <span>点赞数{{video.likes}}</span>
              <span>投币数{{video.coins}}</span>
              <span>收藏数{{video.collects}}</span>
            </div>
          </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
