<!DOCTYPE html>
<html lang="en">
  <head>
    <title>cilicili</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../static/style/basicstyle.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="header">
      <h1 class="title">CiliCili</h1>
    </div>

    <div class="topnav">
      <a href="../../">视频</a>
      <a href="../../authors/">作者</a>
      <a href="../">返回</a>
    </div>

    {% load static %}
    <div>
      <p style="text-align: center; color: rebeccapurple">
        没有找到你想要的结果
      </p>
    </div>
  </body>
</html>
