<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/style/searchpage.css">
  </style>
</head>

<body>

  <div class="header">
    <h1 style="font-family:cursive;color:rebeccapurple">CiliCili</h1>
  </div>

  <div class="topnav">
    <a href="../">视频</a>
    <a href="../authors/">作者</a>
    <a href="#" style="background-color: lightgray; color: rebeccapurple;">搜索</a>
  </div>

  {% load static %}
  {% csrf_token %}
  <main>
    <div class="search">
      <form action="{% url 'videopage:result' %}" style="width:800px">
        <select name="md" style="float: left;">
          <option value="video" style="color: rebeccapurple;">video</option>
          <option value="author" style="color: rebeccapurple;">author</option>
        </select>
        <input type="text" name="info" size="50" style="margin-left:5px; margin-right: 5px;">
        <input type="submit" value="搜索"
          style="background-color:rebeccapurple ; color: #ddd; margin-left: 5px; font-size: medium; padding: 10px;">
      </form>
    </div>
  </main>
  <div style="margin: 300px;"></div>
</body>

</html>