.authorinfo {
    padding: 10px;
}

.detail-image {
    vertical-align: top;
    display: inline-block;
}

.info {
    /* all: initial; */
    text-align: initial;
    display: inline-block;
}

.ti {
    font-size: x-large;
    color: black;
}

.de {
    margin-top: 5px;
}

.authorname {
    color: rebeccapurple;
    font-size: x-large;
}

.videobox {
    /* border-color: black;
    border-radius: 1px;
    border-style: dotted; */
    border-top: 2px outset;
    /* border-style:outset; */
    padding: 15px;
}